@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
   --main-bg-color: red;
   --font1: 'Baloo Bhaina 2' , cursive;
   --font2: 'Roboto' , sans-serif;
}


.max-wid-1 {

    max-width: 90vw;

}

.max-wid-2 {

    max-width: 60vw;
}

.mar-auto {
    margin: auto;
    align-items: center;
}

.btn {
    padding: 8px 10px;
    border: 3px solid black;
    border-radius: 6px;
    font-family: var(--font1);
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: brown;
    background: var(--main-bg-color);
}

.form-control {
    padding: 8px 9px;
    padding-top: 5px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 8px;
    font-family: var(--font1);
}